# Logs
logs
*.log
npm-debug.log*

# Runtime data
.cache
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vite
.vite/
dist/